h1, h2, h3, h4, h5, h6, q, blockquote, cite, bdo, abbr, address, b, i, strong, em, sub, sup, del, 
mark, ins, a, p, pre, small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
nav, main, aside, article, section, footer, header {
	display: block;
}
